<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Livros</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Páginas</th>
          <th>View</th>
          <th>Editar</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for Livro in object_list %}
        <tr>
          <td>{{Livro.NomeLivro}}</td>
          <td>{{Livro.PagLivro}}</td>
          <td><a href="{% url "livro_view" Livro.id %}">view</a></td>
          <td><a href="{% url "livro_edita" Livro.id %}">editar</a></td>
          <td> <a href="{% url "livro_deleta" Livro.id %}">deletar</a> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url "livro_novo" %}">Novo</a>

  </body>
</html>
